// Animations

#body-inicio #header {
  // .image {
  //   // path {
  //   //   fill: var(--text);
  //   // }
  //   transform-origin: center;
  //   animation: logo-drop 1s 0s both;
  // }
  @mixin show-from($delay) {
    animation: show-from .5s (.5 + .25s * $delay) both;
  }
  .logo-con-mas {         @include show-from(1); }
  .logo-limon {           @include show-from(2); }
  .logo-myc {             @include show-from(3); }
  blockquote {            @include show-from(4); }
  .description .buttons { @include show-from(5); }
}
@keyframes rodar {
  40% {
    transform: translate(5%) rotate(5deg);
  }
  0%,10%,90%,100% {
    transform: none;
  }
  60% {
    transform: translate(-5%) rotate(-5deg);
  }
}
@keyframes viento {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(5deg);
  }
}
.logo-o,
.logo-hoja {
  transform-box: fill-box;
  transform-origin: 45% 70%;
  animation: rodar 7s 2s both infinite ease-in-out;
}
.logo-hoja {
  transform-origin: 0% 100%;
  animation-duration: .5s;
  animation-name: viento;
  animation-direction: alternate;
}
#conocenos {
  .image__inner {
    overflow: visible;
  }
  .logo-o {
    transform-box: view-box;
    transform-origin: 50% 70%;
  }
}
